@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  /* CUSTOM RANGE SLIDER STYLES  */
  /* track */
  input[type="range"] {
    @apply h-1 w-full appearance-none bg-yrgo-blue;
  }

  /* thumb */
  input[type="range"]::-webkit-slider-thumb {
    @apply -my-12 h-12 w-12 cursor-pointer appearance-none fill-yrgo-blue;
    background: url("./assets/slider-icon.svg");
  }

  input[type="range"]::-moz-range-thumb {
    @apply -my-12 h-12 w-12 cursor-pointer appearance-none fill-yrgo-blue;
    background: url("./assets/slider-icon.svg");
  }

  /* CUSTOM CHECKBOX AND RADIO STYLES  */
  input[type="radio"],
  input[type="checkbox"] {
    @apply my-auto  flex h-4 w-4 cursor-pointer appearance-none items-center justify-center rounded-full border-2 bg-none;
  }

  input[type="radio"]::before,
  input[type="checkbox"]::before {
    @apply h-6 w-6 opacity-0;
    content: url("./assets/checked-x.svg");
  }

  input[type="radio"]:checked::before,
  input[type="checkbox"]:checked::before {
    @apply h-6 w-6 opacity-100;
  }

  /* CUSTOM DATE PICKER  */
  /* make sure calender icon is white (webkit) or light (moz) */
  input[type="date"] {
    color-scheme: dark;
  }
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
